/* cyrillic-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoC1CzjvWyNL4U.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoC1CzjtGyNL4U.woff2)
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoC1CzjvGyNL4U.woff2)
    format("woff2");
  unicode-range: U+1F00-1FFF;
}

* {
  font-family: "Ubuntu", Arial, sans-serif;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000;
  letter-spacing: 1.1px;
}
a:hover {
  transform: scale(1.1);
}
.headers {
  font-size: 2.5rem;
  margin: 2rem;
}
.header-false {
  height: 120px;
}
.main {
  position: relative;
}
.input {
  line-height: 28px;
  border-radius: 10px;
  border: 1px solid #000;
  width: 35%;
  padding-left: 1rem;
}
.input-id {
  position: absolute;
  top: -0.5rem;
  left: 20px;
  background-color: #fff;
  padding: 0 0.5rem;
  font-size: 0.8rem;
}

.header {
  position: fixed;
  top: 0;
  padding: 1rem 3rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  z-index: 10;
  width: 100%;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid rgb(222, 167, 125);
}
.header-items {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.logo {
  color: dimgrey;
  font-size: 1.5rem;
}
.burger-menu {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
.butger-item {
  width: 40px;
  /* background-color: rgb(222, 167, 125); */
  background-color: #fff;
  height: 3px;
}
.menu-list {
  display: flex;
  gap: 2rem;
  text-decoration: none;
  color: black;
}

.header-contact {
  justify-self: end;
  display: flex;
  gap: 2rem;
}
.work-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: dimgrey;
}

.header-contact__phone {
  padding: 0.5rem 2rem;
  color: #fff;
  border-radius: 2rem;
  background-color: rgb(222, 167, 125);
  border: none;
  letter-spacing: 1.2px;
  font-weight: 600;
  font-size: 1.2rem;
}
.first-display {
  padding: 2rem 2rem;
  display: flex;
  gap: 4rem;
}
.first-display__left {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: end;
}
.first-display__left h1 {
  font-size: 3rem;
}

.rules {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-self: flex-end;
}

.add {
  min-height: 44px;
  position: relative;
  display: flex;
  align-items: center;
}
.add p {
  margin-left: 3rem;
}
.add::before {
  content: " ";
  background-image: url(img/material-symbols_add.svg);
  width: 44px;
  height: 44px;
  /* background-size: cover; */
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.first-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
}
.fd-form,
.action-form {
  position: relative;
  margin-left: 2rem;
  display: flex;
  gap: 1rem;
}
.first-display__img {
  border-radius: 2rem;
  vertical-align: middle;
}
.first-display__pic {
  margin: 0 auto;
  width: 70%;
  height: 90%;
  border-radius: 2rem;
}
.callback {
  color: #fff;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  background-color: rgb(222, 167, 125);
  border: none;
  width: 25%;
  font-weight: 600;
  letter-spacing: 1.4px;
}
.serice,
.footer,
.actions,
.footer,
.work-items {
  padding: 2rem 6rem;
  display: flex;
  gap: 2rem;
}
.serice {
  flex-direction: column;
  gap: 0;
}
.service-items {
  position: relative;
  min-height: 200px;
  display: flex;
}
.tab-group {
  display: flex;
  gap: 1rem;
}
.tab {
  border: none;
  background: none;
  font-size: 1.5rem;
  padding: 0.5rem 1rem 1.5rem 1rem;
}
.tab.active {
  border-top: 3px solid rgb(222, 167, 125);
  background-color: aliceblue;
}

.item {
  min-height: 100px;
  opacity: 0;
  display: flex;
  gap: 2rem;
  padding: 2rem;
  transform: translate(0, 0);
  position: absolute;
}
.item-active {
  position: relative;
  background-color: aliceblue;
  opacity: 1;
  transform: translate(0, 0);
}
.item-fig,
.actions-fig,
.actions__callback-form,
.action-callback {
  width: 50%;
}
.item-text {
  width: 30%;
}
.item-text,
.item-price {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  padding-top: 3rem;
}
.item-price {
  width: 20%;
}
.item-pic,
.actions-pic,
.action-form {
  width: 100%;
}
.action-form {
  margin: 3rem 0;
  flex-direction: column;
  gap: 2rem;
}
.action-input {
  width: 80%;
}
.about {
  margin: 3rem auto;
  width: 80%;
  height: 80vh;
  background-size: cover;
  background-image: url(./img/about.jpg);
  position: relative;
}
.about-text {
  position: absolute;
  background-color: #fff;
  z-index: 1;
  bottom: 0;
  padding: 2rem;
  transform: translate(110%, 0);
  width: 40%;
}
.p-about {
  line-height: 22px;
}
.headers-about,
.title-about,
.p-about {
  margin: 1rem 0;
}

.last-work {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}
.last-work-header {
  text-align: center;
  font-size: 3rem;
}
.work-items {
}
.last-work-fig,
.last-work-text {
  width: 50%;
}
.last-work-pic {
  width: 100%;
}
.rotate-left {
  transform: rotate(5deg);
}
.rotate-right {
  transform: rotate(-5deg);
}
.last-work-text {
  display: flex;
  align-items: center;
  line-height: 28px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 60%;
}


@media screen and ( min-width:320px) and (max-width:767px){

  h1 {
    font-size: 2rem !important;
  }
  .header {
    background-color: rgb(222, 167, 125);
    width: 100%;
  }
  .logo,
  .menu-list,
  .work-time,
   .actions-fig{
    display: none;
  }
  .first-display {
    flex-wrap: wrap;
    justify-content: center;
  }
.first-display,
  .serice ,
  .actions,
  .about,
  .last-work,
  .footer{
    padding: 1rem;
  }
  .first-display__left,
  .first-right {
    align-items: center;
  }
  .rules{
    align-self: center;
  }
  .headers {
    font-size: 2rem;
    margin: 1rem;
  }
  .item,
  .actions,
  .work-items {
    flex-wrap: wrap;
    gap: 1rem;
    padding: .5rem;
  }
  .item-fig,
  .actions__callback-form,
  .work-items,
  .about,
  .first-display__left,
  .first-right,
  .last-work-fig,
  .last-work-text,
  .first-display__img,
  .first-display__pic
  {
    width: 100%;
  }
  .fd-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    margin: 0;
  }
  .item-text,
  .item-price {
    gap: 0;
  }
  .item-text p,
  .item-price p {
    height: 40px;
  }
  .input,.callback {
    width: 80%;
  }
  .last-work-fig{
order: 1;
  }
  .last-work-text{
order: 2;
  }
  .tab-group {
    gap:0
  }
  .tab {
    padding: 1rem .5rem;
    font-size: 1rem;
  }
  .item-text {
    width: 70%;
  }
  .item-price {
    width: 25%;
  }
  .about {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
    height: 750px;
  }
  .about-text{
    position: relative;
    width: 100%;
    transform: translate(0, 100%);
  }
  .action-form
   {
    align-items: center;
  }
  .footer {
    justify-content: center;
  }
  .action-form .input-id {
    left: 15%;
  }
}